@import "../../variables.scss";


.multi-slider-container {
    .slider-2-card {
        height: 300px;
        position: relative;
        flex: 0 0 auto;

        .rating-div {
            left: 5px;
            bottom: 0;
            svg {
                width:10%;
            }

            .description{
                color: $title !important;
            }
        }

        svg {
            color: $title !important;
            z-index: 99;
            transition: all .3s !important;
        }

        .bookmarks {
            background: rgba(0, 0, 0, 0.808) !important;
            position: absolute;
            top: 5px;
            right: 4px;
            width: 25% !important;
            transition: all .5s !important;

            &:hover {
                background: $dark-5 !important;
                cursor: pointer;
                
            }

        }

        img {
            border-radius: 1rem;
            width: 100%;
            height: 80%;
            border: 3px solid $title;
            object-fit: cover;
            transition: all .5s;

            &:hover {
                opacity: .75 !important;
                border: 3px solid $dark-5;
            }
        }
    }

    .slick-slide {
        padding: 1.5rem .2rem 0 .2rem;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: end;

        button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $title;
            border: none;
            transition: all .3s;

            &::before {
                opacity: 1 !important;
                display: none;
            }
        }
    }

    .slick-active {
        button {
            transform: translate(-10px, 0px);
            width: 30px;
            height: 10px;
            border-radius: 20px;
            background-color: $buttonBg;
            border: none;
        }
    }
    .slick-prev,
    .slick-next {
        width: 25px;
        height: 80%;
        font-size: 0;
        background-color: $dark;
        border: none;
        border-radius: 10px;
        transition: all .5s;
        
        &:hover {
            height: 85%;
            background: rgba(0, 0, 0, 0.875);

        }
    }

    .slick-prev:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 3px solid $title;
        border-right: 3px solid $title;
        transform: rotate(-135deg);
    }

    .slick-next:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 3px solid $title;
        border-right: 3px solid $title;
        transform: rotate(45deg);
    }
}