@import "../../variables.scss";

.Home {
    .HomePageBgDiv {
        opacity: .7;
        width: 100%;
        height: 97vh;
        background-image: url(https://wallpapercave.com/wp/wp9424755.jpg);
        background-size: cover;
        background-position: top;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        .black-bg-theme {
            background: rgba(0, 0, 0, 0.897);
            height: 100%;

            .home-content {
                height: 90%;

                .container-md {
                    .row {
                        .col-left {
                            .content-left {
                                .child-2 {
                                    h1 {
                                        font-size: 50px;
                                        letter-spacing: 6px;
                                    }
                                }

                                .child-3 {
                                    h6 {
                                        letter-spacing: 6px;
                                    }
                                }

                                .child-4 {}

                                .child-5 {
                                    // button {
                                    //     border: none;
                                    //     transition: all .5s;
                                    //     background: $dark-5;
                                    //     box-shadow: $dark 0px 2px;

                                    //     &:hover {
                                    //         background: $buttonBg;
                                    //         box-shadow: $dark-5 0px 2px;
                                    //         color: $dark !important;
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .filter-div-bg {
        box-shadow: 0px -5px 5px rgba(1, 0, 21, 0.242);

        .container-md {}
    }

    .first-slider-bg {
        box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.374);

        .container-md {
            .parent-first-slider {
                h4 {
                    color: $title;
                }

                .slick-dots {}
            }
        }
    }
}